<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <div id="headerContent">
        <a href="/" id="siteTitle"><%= title %></a>
        <nav>
        <ul>
            <li><a href="">Session Reports</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">About</a></li>
        </ul>
        </nav>
    </div>
</body>
</html>