<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <header class="banner">
      <% include partials/header %>
    </header>
    <main>
      <h1>Create a New Booking</h1>
      <p id="formTitle">Please fill out the information below to create your booking.</p>
      <form id="bookingForm" action="/create" method="post">
        <div id="formFields">
          <div id="nameField">
              <label for="nameInput">Name: </label>
              <input type="text" placeholder="John Doe" id="nameInput" name="name">
          </div>
          <div id="idField">
              <label for="idInput">ID: </label>
              <input type="text" minlength="10" maxlength="10" placeholder="1234567890" id="idInput" name="id">
          </div>
          <div id="dateField">
              <label for="dateInput">Booking Date: </label>
              <input type="date" id="dateInput" name="bookingDate">
          </div>
          <div id="cardNoField">
              <label for="cardNoInput">Card No.: </label>
              <input type="text" minlength="16" maxlength="16" pattern="^\d+$" title="Card no. must be numeric" placeholder="1234567812345678" id="cardNoInput" name="cardNo">
          </div>
          <div id="expiryDateFields">
              <label for="expiryDateInput">Expiry Date: </label>
              <div id="expiryDateInputs">
                <input type="number" min="1" max="12" placeholder="MM" class="expiryDateInput" name="expiryMonth">
                <input type="number" min="24" max="99" placeholder="YY" class="expiryDateInput" name="expiryYear">
              </div>
          </div>
          <div id="securityCodeField">
              <label for="securityCodeInput">Security Code: </label>
              <input type="text" minlength="3" maxlength="3" pattern="^\d+$"  title="Security code must be numeric" placeholder="123" id="securityCodeInput" name="securityCode">
          </div>
        </div>
        <div id="formButtons">
            <button type="submit">Create Booking</button>
            <button type="reset">Reset</button>
        </div>
      </form>
    </main>
    <footer class="banner">
      <% include partials/footer %>
    </footer>
  </body>
</html>
