@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  font-family:'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header a:hover {
  color: #aaa;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.banner {
  width: 100%;
  text-align: center;
  color: #999;
  background-color: #333;
}

#headerContent {
  display: flex;
  padding: 0 20px 0 20px;
  justify-content: space-between;
  align-items: center;
}

#headerContent nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

#headerContent li{
  display: inline;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#createBooking, button {
  padding: 3px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(45deg, #dddddd 0%, #eeeeee 100%); 
}

#createBooking:active, button:active {
  background: linear-gradient(45deg, #cccccc 0%, #dddddd 100%); 
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 5px;
}

#bookingsTable {
  margin-top: 8px;
  border: 2px solid #ccc;
}

#bookingsTable tbody > tr:nth-child(odd) {
  background-color:  #ccc;
}

footer {
  flex-shrink: 0;
}

#formTitle {
  margin-bottom: 1rem;
}

#bookingForm {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#formButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

#formFields {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#formFields > * {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin: 1px 0;
}